.Menu {
  position: relative;

  display: flex;
  gap: 48px;

  padding: 0 165px 0 123px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

}

.Menu::before {
  position: absolute;
  top: 50%;
  left: -443px;
  content: '';
  width: 473px;
  height: 1px;
  background: var(--primary);
  opacity: .25;
  overflow: hidden;
}

.Menu__item {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  list-style: none;
  padding: 35px 0;

  cursor: pointer;

  transition: all .1s ease-in-out;
}

.Menu__item:hover {
  border-bottom: 3px solid var(--primary);
  padding-bottom: 32px;
}

.Menu__item_bold {
  font-weight: 700;
}