.Header {
  position: absolute;
  top: 40px;
  left: 55px;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 100%; */
  /* outline: 1px solid red; */
}