.App {
  margin: 0 auto;


  background: url('assets/img/home/background-home-desktop.jpg') center center/cover;

}

@media (max-width: 768px) {
  .App {
    background: url('assets/img/home/background-home-tablet.jpg') center center/cover;
  }
}

.App__container {
  max-width: 1200px;
  margin: 0 auto;
}