:root {
  --primary: #FFFFFF;
  --bg: #0B0D17;
  --accent: #D0D6F9;
}

@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2'),
    url('assets/fonts/bellefair-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'),
    url('assets/fonts/barlow-condensed-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('assets/fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'),
    url('assets/fonts/barlow-condensed-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('assets/fonts/barlow-v12-latin-regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--primary);
  background: var(--bg);



  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;

  color: var(--primary);
}

h2 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;

  color: var(--primary);
}

h3 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;

  color: var(--primary);
}

h4 {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;

  color: var(--primary);
}

h5 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: var(--accent);
}